{% extends "index.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>I love you, Lolo! Test 2</h1>
    
<a href="https://lh3.googleusercontent.com/pw/AJFCJaV-AIl2GDmw7msgZ6dVDINVZ7kOEO5exa9B1fvfwv4VsQrBNGLKOFqj5ScFzNTWNblTB2ltnbZNZSuGFKQVXGmZpc4njzsIYno5-DRUcVapBnnc2eC0=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/pw/AJFCJaV-AIl2GDmw7msgZ6dVDINVZ7kOEO5exa9B1fvfwv4VsQrBNGLKOFqj5ScFzNTWNblTB2ltnbZNZSuGFKQVXGmZpc4njzsIYno5-DRUcVapBnnc2eC0=w600-h315-p-k" /> </a>

{% endblock %}