{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1>Overview</h1>
    <p>Welcome!</p>
    <a href="https://lh3.googleusercontent.com/pDkEFEuBenaAHF_ziKzI4avmfq_mmwV5vG64Y73EBr4lFmkIFQd9lUuDshxb6ZV9gqWLaFK0MOWRBrLnLm_GPVJg95bz-JU9V13CFFdmoTFhme9IhQXyBuWiWuL9rK8scJKKF_veAsk=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/pDkEFEuBenaAHF_ziKzI4avmfq_mmwV5vG64Y73EBr4lFmkIFQd9lUuDshxb6ZV9gqWLaFK0MOWRBrLnLm_GPVJg95bz-JU9V13CFFdmoTFhme9IhQXyBuWiWuL9rK8scJKKF_veAsk=w600-h315-p-k" /> </a>
</div>

{% endblock %}