{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1>Lauriane Sibileau and Neil Ritter</h1>
    <h2>French Edition</h2>
    <h3>August 26, 2023</h3>
    <h3>Le petit Moulin, CIRAN, Centre 37240, France *</h3>
    <p>Welcome!</p>
    <p>Picture of place here</p>
    <a href="https://lh3.googleusercontent.com/pDkEFEuBenaAHF_ziKzI4avmfq_mmwV5vG64Y73EBr4lFmkIFQd9lUuDshxb6ZV9gqWLaFK0MOWRBrLnLm_GPVJg95bz-JU9V13CFFdmoTFhme9IhQXyBuWiWuL9rK8scJKKF_veAsk=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/pDkEFEuBenaAHF_ziKzI4avmfq_mmwV5vG64Y73EBr4lFmkIFQd9lUuDshxb6ZV9gqWLaFK0MOWRBrLnLm_GPVJg95bz-JU9V13CFFdmoTFhme9IhQXyBuWiWuL9rK8scJKKF_veAsk=w600-h315-p-k" /> </a>

    <p>* So your GPS cannot locate the house: go to the nearest village, Ligueil. Take the D59 towards Saint Flovier/ Esves le Moutier. After about 2.5 km turn left on the D12 following the direction of "Esves le Moutier". Make about 1.8 km and take a path to the left indicating "La Barrasserie, Le Petit Moulin". You will recognize the mill at the end of the path</p>
</div>

{% endblock %}